body{
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    background-color: white;
    border-radius: 20px;
}

#container img{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
    border-radius: 10px;
}

#first-p{
    text-align: center;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 16px;
}

#second-p{
    text-align: center;
    font-family: 'Outfit' ,Arial, Helvetica, sans-serif;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
    font-size: 13px;
    color: rgb(153, 153, 153);
}